In [30]:
#set working directory

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy.stats import norm
from sklearn.preprocessing import StandardScaler
from scipy import stats
import warnings
%matplotlib inline

In [ ]:
path = os.getcwd()
print(path)
os.chdir("C:/Users/USER/Downloads")
print(os.getcwd())

In [7]:
#import Dataset
Df=pd.read_csv('C:/Users/USER/Downloads/Call Center.csv', sep=',',encoding='latin-1')
Df.head(20)

,id,customer_name,sentiment,csat_score,call_timestamp,call day,reason,city,state,channel,response_time,call duration in minutes,call_center
0,DKK-57076809-w-055481-fU,Analise Gairdner,Neutral,7.0,10/29/2020,Thu,Billing Question,Detroit,Michigan,Call-Center,Within SLA,17,Los Angeles/CA
1,QGK-72219678-w-102139-KY,Crichton Kidsley,Very Positive,NaN,10/5/2020,Mon,Service Outage,Spartanburg,South Carolina,Chatbot,Within SLA,23,Baltimore/MD
2,GYJ-30025932-A-023015-LD,Averill Brundrett,Negative,NaN,10/4/2020,Sun,Billing Question,Gainesville,Florida,Call-Center,Above SLA,45,Los Angeles/CA
3,ZJI-96807559-i-620008-m7,Noreen Lafflina,Very Negative,1.0,10/17/2020,Sat,Billing Question,Portland,Oregon,Chatbot,Within SLA,12,Los Angeles/CA
4,DDU-69451719-O-176482-Fm,Toma Van der Beken,Very Positive,NaN,10/17/2020,Sat,Payments,Fort Wayne,Indiana,Call-Center,Within SLA,23,Los Angeles/CA
5,JVI-79728660-U-224285-4a,Kaylyn Emlen,Neutral,5.0,10/28/2020,Wed,Billing Question,Salt Lake City,Utah,Call-Center,Within SLA,25,Baltimore/MD
6,AZI-95054097-e-185542-PT,Phillipe Bowring,Neutral,8.0,10/16/2020,Fri,Billing Question,Tyler,Texas,Chatbot,Within SLA,31,Baltimore/MD
7,TWX-27007918-I-608789-Xw,Krysta de Tocqueville,Positive,NaN,10/21/2020,Wed,Billing Question,New York City,New York,Chatbot,Below SLA,37,Los Angeles/CA
8,XNG-44599118-P-344473-ZU,Oran Lifsey,Very Negative,NaN,10/3/2020,Sat,Billing Question,Dallas,Texas,Email,Below SLA,37,Baltimore/MD
9,RLC-64108207-Z-285141-VS,Port Inggall,Neutral,NaN,10/7/2020,Wed,Billing Question,Cincinnati,Ohio,Chatbot,Within SLA,12,Baltimore/MD
10,RJF-00263922-O-647027-TB,Ella Cristoforo,Negative,NaN,10/9/2020,Fri,Billing Question,Everett,Washington,Chatbot,Within SLA,35,Los Angeles/CA
11,ZQN-32874873-e-786499-kJ,Aubrey Surcombe,Negative,NaN,10/11/2020,Sun,Billing Question,Huntington,West Virginia,Web,Within SLA,18,Los Angeles/CA
12,JDP-35147568-w-630120-3l,Nicolle Fareweather,Very Positive,NaN,10/2/2020,Fri,Billing Question,Portland,Oregon,Call-Center,Within SLA,30,Baltimore/MD
13,DPT-56483482-P-371409-CQ,Melesa Ricardot,Positive,7.0,10/10/2020,Sat,Billing Question,Springfield,Massachusetts,Chatbot,Within SLA,20,Denver/CO
14,ZOV-95861398-a-333622-9r,Odell Cathesyed,Very Negative,NaN,10/6/2020,Tue,Payments,Hyattsville,Maryland,Call-Center,Below SLA,22,Baltimore/MD
15,BEJ-69711449-V-758715-cp,Dani Stanfield,Negative,4.0,10/18/2020,Sun,Billing Question,New York City,New York,Chatbot,Within SLA,28,Denver/CO
16,DEC-83767217-S-314070-eR,Margarette Jehaes,Negative,NaN,10/11/2020,Sun,Billing Question,Huntsville,Alabama,Email,Above SLA,36,Baltimore/MD
17,XNY-04106353-Y-318117-I9,Noni Greatrakes,Neutral,NaN,10/30/2020,Fri,Billing Question,Wichita,Kansas,Call-Center,Above SLA,37,Baltimore/MD
18,GKH-06532516-2-756137-9w,Gerik Archell,Negative,NaN,10/26/2020,Mon,Billing Question,Lansing,Michigan,Web,Within SLA,41,Baltimore/MD
19,DJU-19977844-M-356042-cQ,Tammie Bettinson,Very Negative,NaN,10/11/2020,Sun,Payments,Lansing,Michigan,Call-Center,Within SLA,9,Chicago/IL

  # DATA EXPLORATION

In [47]:
Df.dtypes

id                           object
customer_name                object
sentiment                    object
csat_score                  float64
call_timestamp               object
call day                     object
reason                       object
city                         object
state                        object
channel                      object
response_time                object
call duration in minutes      int64
call_center                  object
dtype: object

In [4]:
# data description 
Df.describe(include='all')

,id,customer_name,sentiment,csat_score,call_timestamp,call day,reason,city,state,channel,response_time,call duration in minutes,call_center
count,32941,32941,32941,12271.000000,32941,32941,32941,32941,32941,32941,32941,32941.000000,32941
unique,32941,32941,5,NaN,31,7,3,461,51,4,3,NaN,4
top,JIT-28229508-O-515949-J6,Rockwell Bazoche,Negative,NaN,10/21/2020,Fri,Billing Question,Washington,California,Call-Center,Within SLA,NaN,Los Angeles/CA
freq,1,1,11063,NaN,1170,5570,23462,1110,3631,10639,20625,NaN,13734
mean,NaN,NaN,NaN,5.548448,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.021159,NaN
std,NaN,NaN,NaN,2.371059,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.816218,NaN
min,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.000000,NaN
25%,NaN,NaN,NaN,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.000000,NaN
50%,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.000000,NaN
75%,NaN,NaN,NaN,7.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.000000,NaN
max,NaN,NaN,NaN,10.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.000000,NaN

In [48]:
Df.shape

(32941, 13)

In [19]:
Df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32941 entries, 0 to 32940
Data columns (total 13 columns):
id                          32941 non-null object
customer_name               32941 non-null object
sentiment                   32941 non-null object
csat_score                  12271 non-null float64
call_timestamp              32941 non-null object
call day                    32941 non-null object
reason                      32941 non-null object
city                        32941 non-null object
state                       32941 non-null object
channel                     32941 non-null object
response_time               32941 non-null object
call duration in minutes    32941 non-null int64
call_center                 32941 non-null object
dtypes: float64(1), int64(1), object(11)
memory usage: 3.3+ MB

In [6]:
Df.groupby('sentiment').count()

,id,customer_name,csat_score,call_timestamp,call day,reason,city,state,channel,response_time,call duration in minutes,call_center
sentiment,,,,,,,,,,,,
Negative,11063,11063,4088,11063,11063,11063,11063,11063,11063,11063,11063,11063
Neutral,8754,8754,3264,8754,8754,8754,8754,8754,8754,8754,8754,8754
Positive,3928,3928,1492,3928,3928,3928,3928,3928,3928,3928,3928,3928
Very Negative,6026,6026,2276,6026,6026,6026,6026,6026,6026,6026,6026,6026
Very Positive,3170,3170,1151,3170,3170,3170,3170,3170,3170,3170,3170,3170

In [6]:
#counting the reasons in each column
Df.groupby('reason').count()

,id,customer_name,sentiment,csat_score,call_timestamp,call day,city,state,channel,response_time,call duration in minutes,call_center
reason,,,,,,,,,,,,
Billing Question,23462,23462,23462,8745,23462,23462,23462,23462,23462,23462,23462,23462
Payments,4749,4749,4749,1756,4749,4749,4749,4749,4749,4749,4749,4749
Service Outage,4730,4730,4730,1770,4730,4730,4730,4730,4730,4730,4730,4730

In [8]:
#counting the response time 
Df.groupby('response_time').count()

,id,customer_name,sentiment,csat_score,call_timestamp,call day,reason,city,state,channel,call duration in minutes,call_center
response_time,,,,,,,,,,,,
Above SLA,4168,4168,4168,1518,4168,4168,4168,4168,4168,4168,4168,4168
Below SLA,8148,8148,8148,3095,8148,8148,8148,8148,8148,8148,8148,8148
Within SLA,20625,20625,20625,7658,20625,20625,20625,20625,20625,20625,20625,20625

In [9]:
Df.groupby('state').count()

,id,customer_name,sentiment,csat_score,call_timestamp,call day,reason,city,channel,response_time,call duration in minutes,call_center
state,,,,,,,,,,,,
Alabama,738,738,738,288,738,738,738,738,738,738,738,738
Alaska,146,146,146,54,146,146,146,146,146,146,146,146
Arizona,737,737,737,260,737,737,737,737,737,737,737,737
Arkansas,204,204,204,62,204,204,204,204,204,204,204,204
California,3631,3631,3631,1273,3631,3631,3631,3631,3631,3631,3631,3631
Colorado,742,742,742,280,742,742,742,742,742,742,742,742
Connecticut,408,408,408,141,408,408,408,408,408,408,408,408
Delaware,128,128,128,45,128,128,128,128,128,128,128,128
District of Columbia,1110,1110,1110,405,1110,1110,1110,1110,1110,1110,1110,1110
Florida,2834,2834,2834,1089,2834,2834,2834,2834,2834,2834,2834,2834
Georgia,926,926,926,362,926,926,926,926,926,926,926,926
Hawaii,149,149,149,55,149,149,149,149,149,149,149,149
Idaho,174,174,174,66,174,174,174,174,174,174,174,174
Illinois,848,848,848,325,848,848,848,848,848,848,848,848
Indiana,736,736,736,259,736,736,736,736,736,736,736,736
Iowa,366,366,366,156,366,366,366,366,366,366,366,366
Kansas,467,467,467,167,467,467,467,467,467,467,467,467
Kentucky,411,411,411,152,411,411,411,411,411,411,411,411
Louisiana,627,627,627,239,627,627,627,627,627,627,627,627
Maine,16,16,16,7,16,16,16,16,16,16,16,16
Maryland,415,415,415,146,415,415,415,415,415,415,415,415
Massachusetts,493,493,493,172,493,493,493,493,493,493,493,493
Michigan,612,612,612,236,612,612,612,612,612,612,612,612
Minnesota,712,712,712,268,712,712,712,712,712,712,712,712
Mississippi,178,178,178,70,178,178,178,178,178,178,178,178
Missouri,682,682,682,269,682,682,682,682,682,682,682,682
Montana,94,94,94,31,94,94,94,94,94,94,94,94
Nebraska,243,243,243,82,243,243,243,243,243,243,243,243
Nevada,459,459,459,172,459,459,459,459,459,459,459,459
New Hampshire,51,51,51,13,51,51,51,51,51,51,51,51
New Jersey,317,317,317,112,317,317,317,317,317,317,317,317
New Mexico,212,212,212,74,212,212,212,212,212,212,212,212
New York,1786,1786,1786,714,1786,1786,1786,1786,1786,1786,1786,1786
North Carolina,765,765,765,274,765,765,765,765,765,765,765,765
North Dakota,76,76,76,35,76,76,76,76,76,76,76,76
Ohio,1160,1160,1160,433,1160,1160,1160,1160,1160,1160,1160,1160
Oklahoma,538,538,538,182,538,538,538,538,538,538,538,538
Oregon,261,261,261,109,261,261,261,261,261,261,261,261
Pennsylvania,1017,1017,1017,392,1017,1017,1017,1017,1017,1017,1017,1017
Rhode Island,35,35,35,9,35,35,35,35,35,35,35,35
South Carolina,315,315,315,116,315,315,315,315,315,315,315,315
South Dakota,93,93,93,35,93,93,93,93,93,93,93,93
Tennessee,664,664,664,225,664,664,664,664,664,664,664,664
Texas,3572,3572,3572,1402,3572,3572,3572,3572,3572,3572,3572,3572
Utah,298,298,298,101,298,298,298,298,298,298,298,298
Vermont,14,14,14,4,14,14,14,14,14,14,14,14
Virginia,1164,1164,1164,434,1164,1164,1164,1164,1164,1164,1164,1164
Washington,663,663,663,235,663,663,663,663,663,663,663,663
West Virginia,301,301,301,106,301,301,301,301,301,301,301,301
Wisconsin,342,342,342,134,342,342,342,342,342,342,342,342
Wyoming,11,11,11,1,11,11,11,11,11,11,11,11

In [10]:
#Question 13
Df.isnull().sum()

id                              0
customer_name                   0
sentiment                       0
csat_score                  20670
call_timestamp                  0
call day                        0
reason                          0
city                            0
state                           0
channel                         0
response_time                   0
call duration in minutes        0
call_center                     0
dtype: int64

In [14]:

#find the distinct unique values on the item column
Df['reason'].unique().sum()

'Billing QuestionService OutagePayments'

In [15]:
#find the frequency distribution of the country column
Df['channel'].unique().sum()

'Call-CenterChatbotEmailWeb'

In [50]:
#group the dataset by sentiment, channel then call duration
Df.groupby(["sentiment", "channel", "call duration in minutes"]).first()

                                                                          id  \
sentiment     channel     call duration in minutes
Negative      Call-Center 5                         NVA-07665226-B-442485-FF
                          6                         BGZ-56120028-8-296110-oz
                          7                         LMR-68858294-L-183176-Qy
                          8                         GKL-60887503-a-482225-yg
                          9                         OBJ-52084470-h-840828-GC
...                                                                      ...
Very Positive Web         41                        CZD-50424657-K-163563-Qu
                          42                        PVN-29106263-e-837120-5K
                          43                        NUL-55284812-V-045014-0s
                          44                        GVY-11647966-a-242642-Ts
                          45                        AMN-01872235-S-613885-kK

                                                         customer_name  \
sentiment     channel     call duration in minutes
Negative      Call-Center 5                            Florentia Lomas
                          6                           Jefferson Vibert
                          7                               Rey Sabatini
                          8                           Jacques Peverell
                          9                         Adriana Tellenbrok
...                                                                ...
Very Positive Web         41                             Miner Cochran
                          42                            Jake Johantges
                          43                          Delphinia Jarred
                          44                            Pansie Drydale
                          45                              Spence Udall

                                                    csat_score call_timestamp  \
sentiment     channel     call duration in minutes
Negative      Call-Center 5                                4.0      10/5/2020
                          6                                4.0     10/10/2020
                          7                                4.0      10/2/2020
                          8                                3.0     10/16/2020
                          9                                4.0     10/13/2020
...                                                        ...            ...
Very Positive Web         41                              10.0      10/9/2020
                          42                               9.0     10/21/2020
                          43                              10.0      10/6/2020
                          44                              10.0     10/25/2020
                          45                              10.0     10/16/2020

                                                   call day            reason  \
sentiment     channel     call duration in minutes
Negative      Call-Center 5                             Mon  Billing Question
                          6                             Sat  Billing Question
                          7                             Fri          Payments
                          8                             Fri  Billing Question
                          9                             Tue          Payments
...                                                     ...               ...
Very Positive Web         41                            Fri  Billing Question
                          42                            Wed  Billing Question
                          43                            Tue  Billing Question
                          44                            Sun  Billing Question
                          45                            Fri  Billing Question

                                                              city  \
sentiment     channel     call duration in minutes
Negative      Call-Center 5                          New York City
                          6                            New Orleans
                          7                                 Dallas
                          8                            Saint Louis
                          9                                 Durham
...                                                            ...
Very Positive Web         41                          Wilkes Barre
                          42                                 Largo
                          43                           Los Angeles
                          44                        Salt Lake City
                          45                           Kansas City

                                                             state  \
sentiment     channel     call duration in minutes
Negative      Call-Center 5                               New York
                          6                              Louisiana
                          7                                  Texas
                          8                               Missouri
                          9                         North Carolina
...                                                            ...
Very Positive Web         41                          Pennsylvania
                          42                               Florida
                          43                            California
                          44                                  Utah
                          45                                Kansas

                                                   response_time  \
sentiment     channel     call duration in minutes
Negative      Call-Center 5                           Within SLA
                          6                           Within SLA
                          7                           Within SLA
                          8                           Within SLA
                          9                            Below SLA
...                                                          ...
Very Positive Web         41                           Below SLA
                          42                           Below SLA
                          43                          Within SLA
                          44                           Below SLA
                          45                          Within SLA

                                                       call_center
sentiment     channel     call duration in minutes
Negative      Call-Center 5                             Chicago/IL
                          6                           Baltimore/MD
                          7                             Chicago/IL
                          8                           Baltimore/MD
                          9                         Los Angeles/CA
...                                                            ...
Very Positive Web         41                          Baltimore/MD
                          42                          Baltimore/MD
                          43                          Baltimore/MD
                          44                            Chicago/IL
                          45                            Chicago/IL

[820 rows x 10 columns]

In [58]:
#Call center with the longest duration of calls?
call_center_durations = Df.groupby('call_center')['call duration in minutes'].sum().reset_index().sort_values(by='call duration in minutes', ascending=False)
call_center_durations

      call_center  call duration in minutes
3  Los Angeles/CA                    344081
0    Baltimore/MD                    274881
1      Chicago/IL                    135814
2       Denver/CO                     69446

In [60]:
#How many calls were within SLA and above SLA?
# Define the SLA threshold (e.g., 300 seconds)
sla_threshold = 300

# Calculate calls within SLA and above SLA
calls_within_sla_and_above = Df[(Df['call duration in minutes'] <= sla_threshold) & (Df['call duration in minutes'] > 0)]

# Get the count
num_calls_within_sla_and_above = len(calls_within_sla_and_above)

print("Number of calls within SLA and above SLA:", num_calls_within_sla_and_above)

Number of calls within SLA and above SLA: 32941

In [70]:
#Why did people call the most? Reason
Df.groupby('reason')['call duration in minutes'].sum().reset_index().sort_values(by='call duration in minutes', ascending=False )

             reason  call duration in minutes
0  Billing Question                    585934
1          Payments                    119650
2    Service Outage                    118638

In [75]:
#Total length of calls
Df['call duration in minutes'].sum()

824222

In [79]:
#Contacts made through chat bots were mostly for what reason?
Df.groupby('channel')['reason'].value_counts()

channel      reason
Call-Center  Billing Question    5890
             Payments            4749
Chatbot      Billing Question    5901
             Service Outage      2355
Email        Billing Question    5901
             Service Outage      1569
Web          Billing Question    5770
             Service Outage       806
Name: reason, dtype: int64

In [95]:
#What state has the most negative contact?
Df.groupby('sentiment')['state'].value_counts()

sentiment      state
Negative       California       1255
               Texas            1245
               Florida           920
               New York          601
               Ohio              408
                                ...
Very Positive  South Dakota        6
               North Dakota        4
               New Hampshire       3
               Maine               1
               Rhode Island        1
Name: state, Length: 250, dtype: int64

In [98]:
#What is the average minute for calls with positive sentiment 

positive_sentiment_calls = Df[Df['sentiment'] == 'Positive']
positive_sentiment_calls['call duration in minutes'] = positive_sentiment_calls['call duration in minutes'] / 60

# Calculate the average duration
average_duration_positive_sentiment = positive_sentiment_calls['call duration in minutes'].mean()
average_duration_positive_sentiment

C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

0.414366938221318